.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.card-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;

  .header-text {
    display: flex;
    flex-direction: column;

    mat-card-title {
      text-align: center;
    }
  }

  .actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}

mat-card-content {
  form {
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    width: 100%;
  }

  .form-row {
    display: flex;
    gap: 16px;

    mat-form-field {
      flex: 1;
    }
  }

  .error-message {
    color: red;
    margin: 10px 0;
    text-align: center;
  }
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 8px 16px !important;

  button {
    min-height: 48px;
    width: 100%;
  }
}