<div class="container">
  <mat-card>
    <mat-card-header class="card-header-container">
        <mat-card-title>
            Registrar Nova Aplicação de Vacina
            <a
              mat-stroked-button
              color="primary"
              routerLink="/dashboard/aplicacao/consulta"
            >
              <mat-icon>manage_search</mat-icon>
              Consultar Histórico
            </a>
        </mat-card-title>
      <mat-card-subtitle
        >Preencha os dados da aplicação abaixo</mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="aplicacaoForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>ID da Porca (Brinco)</mat-label>
          <input
            type="text"
            matInput
            formControlName="id_porca"
            required
            [matAutocomplete]="autoPorca"
          />
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete
            #autoPorca="matAutocomplete"
            [displayWith]="displayFicha"
          >
            @for(ficha of fichasFiltradas$ | async; track ficha.id_porca) {
            <mat-option [value]="ficha">
              {{ ficha.id_porca }}
            </mat-option>
            }
          </mat-autocomplete>
          @if(aplicacaoForm.get('id_porca')?.hasError('required')) {
          <mat-error>A seleção da porca é obrigatória</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nome da Vacina</mat-label>
          <input
            matInput
            formControlName="nome"
            placeholder="Ex: Circovac"
            required
          />
          <mat-icon matSuffix>vaccines</mat-icon>
          @if (aplicacaoForm.get('nome')?.hasError('required')) {
          <mat-error>O nome da vacina é obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Lote da Vacina</mat-label>
          <input
            matInput
            formControlName="lote_vacina"
            placeholder="Ex: ABC12345"
            required
          />
          <mat-icon matSuffix>inventory_2</mat-icon>
          @if (aplicacaoForm.get('lote_vacina')?.hasError('required')) {
          <mat-error>O lote da vacina é obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de Validade da Vacina</mat-label>
          <input
            matInput
            [matDatepicker]="pickerValidade"
            formControlName="data_validade"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerValidade"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerValidade></mat-datepicker>
          @if (aplicacaoForm.get('data_validade')?.hasError('required')) {
          <mat-error>A data de validade é obrigatória</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Doses Totais do Frasco (ml)</mat-label>
          <input
            matInput
            type="number"
            formControlName="doses_total_ml"
            placeholder="Ex: 50.0"
            required
          />
          <mat-icon matSuffix>science</mat-icon>
          @if (aplicacaoForm.get('doses_total_ml')?.hasError('required')) {
          <mat-error>A quantidade total é obrigatória</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Dose Aplicada (ml)</mat-label>
          <input
            matInput
            type="number"
            formControlName="dose_aplicada_ml"
            placeholder="Ex: 2.0"
            required
          />
          <mat-icon matSuffix>syringe</mat-icon>
          @if (aplicacaoForm.get('dose_aplicada_ml')?.hasError('required')) {
          <mat-error>A dose aplicada é obrigatória</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data da Aplicação</mat-label>
          <input
            matInput
            [matDatepicker]="pickerAplicacao"
            formControlName="data_aplicacao"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerAplicacao"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerAplicacao></mat-datepicker>
          @if (aplicacaoForm.get('data_aplicacao')?.hasError('required')) {
          <mat-error>A data da aplicação é obrigatória</mat-error>
          }
        </mat-form-field>
      </form>

      @if (isLoading) {
      <div class="loading-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      } @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }
    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="onSubmit()"
        [disabled]="aplicacaoForm.invalid || isLoading"
      >
        Registrar Aplicação
      </button>
    </mat-card-actions>
  </mat-card>
</div>
