<div class="mobile-layout">
  <mat-toolbar color="primary">
    <span>{{ usuarioLogado?.nome }}</span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>

  <nav class="bottom-nav">
    <a routerLink="aplicacao" routerLinkActive="active-link">
      <mat-icon>vaccines</mat-icon>
      <span>Vacinar</span>
    </a>
    <a routerLink="lotes" routerLinkActive="active-link">
      <mat-icon>view_list</mat-icon>
      <span>Lotes</span>
    </a>
    <a routerLink="fichas" routerLinkActive="active-link">
      <mat-icon>description</mat-icon>
      <span>Fichas</span>
    </a>
  </nav>
</div>
