<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ isEditMode ? 'Editar Ficha' : 'Cadastro de Nova Ficha' }}</mat-card-title>
      <mat-card-subtitle>{{ isEditMode ? 'Altere os dados da porca abaixo' : 'Preencha os dados abaixo' }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="fichaForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline">
          <mat-label>ID da Porca (Brinco)</mat-label>
          <input matInput formControlName="id_porca" placeholder="Ex: PT12345" required>
          <mat-icon matSuffix>tag</mat-icon>
          @if (fichaForm.get('id_porca')?.hasError('required')) {
            <mat-error>O ID é obrigatório.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="data_nascimento" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (fichaForm.get('data_nascimento')?.hasError('required')) {
            <mat-error>A data de nascimento é obrigatória.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Tipo da Porca</mat-label>
          <mat-select formControlName="tipo_porca" required>
            @for (tipo of tiposPorca; track tipo) {
              <mat-option [value]="tipo">{{ tipo }}</mat-option>
            }
          </mat-select>
          @if (fichaForm.get('tipo_porca')?.hasError('required')) {
            <mat-error>O tipo é obrigatório.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Lote</mat-label>
          <input type="text" matInput formControlName="id_lote" required [matAutocomplete]="autoLote">
          <mat-icon matSuffix>search</mat-icon>
          <mat-autocomplete #autoLote="matAutocomplete" [displayWith]="displayLote">
            @for(lote of lotesFiltrados$ | async; track lote.id_lote) {
              <mat-option [value]="lote">{{ lote.codigo_lote }}</mat-option>
            }
          </mat-autocomplete>
          @if(fichaForm.get('id_lote')?.hasError('required')) {
            <mat-error>A seleção do lote é obrigatória</mat-error>
          }
        </mat-form-field>
      </form>

      @if (isLoading) {
        <div class="loading-container">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
      }
      @if (errorMessage) {
        <div class="error-message">{{ errorMessage }}</div>
      }
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-stroked-button color="warn" (click)="returnPage()">Cancelar</button>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="fichaForm.invalid || isLoading">
        
        @if (isEditMode) {
          <span>Salvar Alterações</span>
        } @else {
          <span>Cadastrar</span>
        }

      </button>
    </mat-card-actions>
  </mat-card>
</div>